# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore distribution and packaging directories
build/
dist/
*.egg-info/

# Ignore compiled files
*.o
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and databases
*.log
*.sqlite3

# Ignore IDE and editor files
.vscode/
.idea/
*.swp
*.swo
